name: Test Coverage

on:
  workflow_call:

  workflow_dispatch:

jobs:
  SimpleCov:
    runs-on: ubuntu-latest
    steps:
      # Only download this if the coverage/ directory isn't populated
      - if: ${{ hashFiles('coverage/**') == '' }}
        uses: actions/download-artifact@v4
        with:
          name: coverage-report

      - name: Check SimpleCov coverage
        uses: joshmfrankel/simplecov-check-action@main
        with:
          minimum_suite_coverage: 97
          minimum_file_coverage: 90
          github_token: ${{ secrets.GITHUB_TOKEN }}
