name: Test Coverage

on:
  workflow_call:

  workflow_dispatch:

jobs:
  SimpleCov:
    runs-on: ubuntu-latest
    steps:
      # Only download these artifacts if they don't already exist
      - if: ${{ hashFiles('coverage/.last_run.json') == '' }}
        uses: actions/download-artifact@v4
        with:
          name: coverage-last-run
          path: coverage/.last_run.json

      - if: ${{ hashFiles('coverage/coverage.json') == '' }}
        uses: actions/download-artifact@v4
        with:
          name: coverage-full-results
          path: coverage/coverage.json

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3

      - name: Check SimpleCov coverage
        uses: joshmfrankel/simplecov-check-action@main
        with:
          minimum_suite_coverage: 97
          minimum_file_coverage: 90
          github_token: ${{ secrets.GITHUB_TOKEN }}
