---
name: Validations

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  workflow_call:
  pull_request:

jobs:
  validate_ruby:
    name: Ruby Tests
    uses: ./.github/workflows/main.yaml
  ensure_coverage:
    needs: validate_ruby
    steps:
      - name: Check SimpleCov coverage
        uses: joshmfrankel/simplecov-check-action@main
        with:
          minimum_suite_coverage: 97
          minimum_file_coverage: 90
          github_token: ${{ secrets.GITHUB_TOKEN }}
